.background{
    background-image: url('file:C:/Users/Pham Van Hoan/Desktop/game/image/background.PNG');
    height: 100%;
    margin: 0;
    background-position: 0px 0px;
    transform: scale(1.1);
}
body{
	margin: 0;
}
.box{
	border: 1px solid rgb(180, 180, 180);
	display: flex;
    position: relative;
    margin: 30px auto 0px;
    width: 960px;
    min-height: 600px;
    border-radius: 15px;
    background: #FFFF;
}
.head{
	border-radius: 35px 35px 0px 0px;
	background: rgb(255, 255, 255);
	position: absolute;
	display: flex;
	width: 960px;
    height: 48px;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.return{
	display: flex;
	width: 150px;
	height: 48px;
}
.back {
	width: 100px;
    height: 48px;
    font-size: 29px;
    margin-left: 10px;
    margin-top: 5px;
    color: rgb(0, 202, 216)
}
.back:hover{
	color: rgb(0, 137, 172);
}
.balls {
    width: 840px;
    height: 48px;
}
.ball {
    background: rgb(238, 238, 238);
    float: left;
    border-radius: 15px;
    width: 500px;
    height: 30px;
    margin-left: 15%;
    margin-top: 7px;
    border: 1px solid rgb(184, 184, 184);
}
.add-ball5{
    animation-name: ball5-go;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
#ball5{
    position: relative;
}
@-webkit-keyframes ball5-go{
    from {
        left: 0px;
    }
    to {
        left: 350px;
    }
}
@keyframes ball5-go {
    from {
        left: 0px;
    }
    to {
        left: 350px;
    }
}
.icon-ball {
    float: left;
    width: 30px;
    height: 30px;
}
.bodys{
    margin-top: 48px;
    width: 960px;
    height: 100vh;
    position: absolute;
}
a{
    text-decoration: none;
}
.check-red{
    border: 1px solid red;
}
.check-return{
    border: 1px solid black;
}
input, 
input:active, 
input:focus {  
    outline: 0;  
    outline-style: none;  
    outline-width: 0; 
} 