.start-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #0404B4;
    opacity: 0.1;
}

.start {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 0;
    left: 400px;
    top: 50px;
    bottom: 0;
    background-image: url('/game/image/start.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
}